*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.properties
*.xml
.idea/workspace.xml
*.ser
*.bin
*.lock
*.lock
*.bin
local.properties
.idea/workspace.xml
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/6.1.1/fileHashes/fileHashes.bin
